Factory\ Packs/**
Live\ Recordings/**
Songs/**
Templates/**
User\ Library/Ableton\ Folder\ Info/**
User\ Library/Ableton\ Project\ Info/**
User\ Library/Ableton\ Project\ Info/**
User\ Library/Backup/**
User\ Library/Clips/**
User\ Library/Defaults/**
User\ Library/Presets/**
User\ Library/Samples/**
User\ Library/Songs/**
User\ Library/Desktop.ini
User\ Library/Icon*
User\ Library/Sampler/**
User\ Library/.DS_Store

.DS_Store
